<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<div class="wrapper">
    <!-- nav bar -->
    <nav th:replace="fragments/navbar :: navbar"/>
    <main>
        <!-- header -->
        <header></header>

        <!-- contents -->
        <div class="main__title"><h4>Order</h4></div>
        <article class="form__card-body">
            <section>
                <form action="#" class="add_form" method="post" th:action="@{/orders}"
                      th:object="${orderForm}">
                    <input id="input_date" max="2999-12-31" min="2000-01-01" placeholder="" required
                           th:field="*{date}" type="date"/>
                    <input placeholder="Company Name" th:field="*{companyName}" type="text"/>
                    <input placeholder="Product Name" th:field="*{productName}" type="text"/>
                    <input placeholder="Quantity" th:field="*{quantity}" type="text"/>
                    <button type="submit">Add Order</button>
                </form>
            </section>
            <section>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15%">날 짜</th>
                        <th scope="col" style="width: 15%">회사명</th>
                        <th scope="col" style="width: 15%">제 품</th>
                        <th scope="col" style="width: 15%">수 량</th>
                        <th scope="col" style="width: 15%">가 격</th>
                        <th scope="col" style="width: 15%">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}" th:id="${order.id}">
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.company.getName()}"></td>
                        <td th:text="${order.product.getName()}"></td>
                        <td th:text="${order.quantity}"></td>
                        <td th:text="${order.price}"></td>
                        <td>
                            <button onclick="updateRow(this)"><i class="far fa-edit"></i>
                            </button>
                            <button onclick="deleteRow(this)"><i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </article>
        <!-- footer -->
        <footer></footer>

    </main>
</div>
<script>
    {
        const inputDate = document.getElementById("input_date");
        const offset = new Date().getTimezoneOffset();
        let today = new Date();
        today = new Date(today.getTime() - (offset * 60 * 1000))
        inputDate.value = today.toISOString().substring(0, 10);
    }

    function updateRow(btn) {
        const tr = btn.parentNode.parentNode;
        const form = document.querySelector(".add_form");
        tr.classList.add("editing");
        const price = tr.children[4].innerText / tr.children[3].innerText;
        btn.outerHTML = `<button onclick="updateOKRow(this,${price})"><i style="color: var(--point-color-red)" class="far fa-check-square"></i></button>`;

        for (let i = 0; i < tr.children.length - 2; i++) {
            const input = document.createElement("input");
            input.placeholder = form.children[i].placeholder;
            input.value = tr.children[i].innerText;
            tr.children[i].innerText = "";
            tr.children[i].appendChild(input);
        }
    }

    async function updateOKRow(btn,price) {
        const tr = btn.parentNode.parentNode;
        const id = tr.id;
        let inputValue = [];
        for (let i = 0; i < tr.children.length - 2; i++) {
            inputValue[i] = tr.children[i].children[0].value;
        }
        const json = {
            "date":inputValue[0],
            "companyName": inputValue[1],
            "productName": inputValue[2],
            "quantity": inputValue[3],
        };
        const res = await fetch(`/order/${id}`, {
            method: 'put',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(json)
        })
        if (res.ok) {
            tr.classList.remove("editing");
            btn.outerHTML = `<button onclick="updateRow(this)"><i class="far fa-edit"></i></button>`;
            for (let i = 0; i < tr.children.length - 2; i++) {
                tr.children[i].innerHTML = inputValue[i];
            }
            tr.children[4].innerHTML = price * json["quantity"];
        }
    }

    async function deleteRow(btn) {
        const tr = btn.parentNode.parentNode
        const id = tr.id;
        const res = await fetch(`/order/${id}`, {method: "delete"})
        if (res.ok) btn.parentNode.parentNode.remove();
    }
</script>
</body>
</html>