<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/navbar :: navbar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div th:fragment="product-list" class="bs-example" data-example-id="simple-table">
    <table class="table" th:object="${company}">
        <thead>
        <tr>
            <th>#</th>
            <th>제품명</th>
            <th>가 격</th>
            <th width="3%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td class="text-end"><a th:id="${product.id}" href="" class="remove-btn link-secondary"><span data-feather="x"></span></a></td>
        </tr>
        </tbody>
    </table>
    <script>
        const removeBtns = document.querySelectorAll(".remove-btn");
        for(removeBtn of removeBtns){
              removeBtn.addEventListener("click", function (e) {
                e.preventDefault();
                var id = this.id;
                var xhr = new XMLHttpRequest();
                xhr.open("GET", `http://localhost:8080/product/remove/${id}`);
                xhr.send();
                xhr.onload = () => {
                  if ((xhr.status == 200)) {
                    this.parentNode.parentNode.remove();
                    console.log("통신성공!");
                  } else {
                    console.log("통신 실패!");
                  }
                };
              });
        }
    </script>
</div>
</main>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
