<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:fragment="product-list" class="bs-example" data-example-id="simple-table">
    <table class="table" th:object="${company}">
        <thead>
        <tr>
            <th>#</th>
            <th>제품명</th>
            <th>가 격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
