<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<form class="form-inline" method="post" th:object="${productForm}">
    <div class="form-group">
        <label>제품명</label>
        <input
                type="text"
                class="form-control"
                id="InputName"
                placeholder="Jane Doe"
                th:field="*{Name}"
        />
    </div>
    <div class="form-group">
        <label>가 격</label>
        <input
                type="text"
                class="form-control"
                id="InputBusinessNumber"
                placeholder="000-000-000000"
                th:field="*{price}"
        />
    </div>
    <button type="submit" class="btn btn-default">제품 추가</button>
</form>
</body>
</html>
