<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
  <div class="row">
    <div th:replace="fragments/navbar :: navbar"></div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <form
              class="row mb-3 mt-3 align-items-start needs-validation"
              method="post"
              th:object="${orderForm}"
              novalidate>
        <div class="col-3">
          <div class="form-floating">
            <input
                    id="company-input"
                    type="text"
                    class="form-control"
                    placeholder="-"
                    th:field="*{companyName}"
                    required
            />
            <label for="company-input">회사명</label>
            <div class="invalid-feedback">
              입력한 회사를 찾을 수 없습니다.
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input
                    id="product-input"
                    type="text"
                    class="form-control"
                    placeholder="-"
                    th:field="*{productName}"
                    required
            />
            <label for="product-input">제 품</label>
            <div class="invalid-feedback">
              입력한 제품을 찾을 수 없습니다.
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-floating">
            <input
                    id="productQuantity"
                    type="text"
                    class="form-control"
                    placeholder="-"
                    th:field="*{quantity}"
            />
            <label for="productQuantity">수 량</label>
          </div>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-lg btn-outline-primary">
            주문 추가
          </button>
        </div>
      </form>
      <div class="row">
      <div class="col-3" id="company_suggest_box" >
        <div
                class="btn-group"
                role="group"
        >
          <button
                  type="button"
                  onclick="companySuggestInput(this.innerText)"
                  class="btn btn-outline-primary"
                  th:each="suggest : ${suggestedList}"
                  th:text="${suggest}"
          ></button>
        </div>
      </div>
      <div class="col-3" id="product_suggest_box">
        <div
                class="btn-group"
                role="group"
        >
          <button
                  type="button"
                  onclick="productSuggestInput(this.innerText)"
                  class="btn btn-outline-primary"
                  th:each="suggest : ${suggestedList}"
                  th:text="${suggest}"
          ></button>
        </div>
      </div>
      </div>

      <div th:replace="order/list :: order-list"></div>
    </main>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script>
      // 등록된 회사 제안
      const companyInput = document.getElementById("company-input");
      const productInput = document.getElementById("product-input");
      const companySuggestBox = document.getElementById("company_suggest_box");
      const productSuggestBox = document.getElementById("product_suggest_box");
      companyInput.addEventListener("keyup", function () {
      var value = companyInput.value;
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/order/add/companySuggest");
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(`companyName=${value}`);
      xhr.onload = () => {
        if (xhr.status == 200) {
          companySuggestBox.innerHTML=xhr.response
        } else console.log("실패ㅠㅠ");
      };
      });

      // 등록된 제품 제안
      productInput.addEventListener("keyup", function () {
      var value = productInput.value;
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/order/add/productSuggest");
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(`productName=${value}`);
      xhr.onload = () => {
        if (xhr.status == 200) {
          productSuggestBox.innerHTML=xhr.response
        } else console.log("실패ㅠㅠ");
      };
      });

      function companySuggestInput(btnValue) {
        companyInput.value = btnValue;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/order/add/companySuggest");
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(`companyName=""`);
        xhr.onload = () => {
        if (xhr.status == 200) {
          companySuggestBox.innerHTML=xhr.response
        } else console.log("실패ㅠㅠ");
      };
      }

      function productSuggestInput(btnValue) {
        productInput.value = btnValue;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/order/add/productSuggest");
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(`productName=""`);
        xhr.onload = () => {
        if (xhr.status == 200) {
          productSuggestBox.innerHTML=xhr.response
        } else console.log("실패ㅠㅠ");
      };
      }
    </script>
</body>
</html>
