<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/navbar :: navbar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                    th:fragment="order-list"
                    class="bs-example"
                    data-example-id="simple-table"
            >
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>날 짜</th>
                        <th>회사명</th>
                        <th>제 품</th>
                        <th>수 량</th>
                        <th>가 격</th>
                        <th width="3%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <th scope="row" th:text="${order.id}"></th>
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.company.getName()}"></td>
                        <td th:text="${order.product.getName()}"></td>
                        <td th:text="${order.quantity}"></td>
                        <td th:text="${order.price}"></td>
                        <td class="text-end"><a th:id="${order.id}" href="" class="remove-btn link-secondary"><span data-feather="x"></span></a></td>
                    </tr>
                    </tbody>
                </table>
                <script>
          const removeBtns = document.querySelectorAll(".remove-btn");
          for (removeBtn of removeBtns){
          removeBtn.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.id;
            const xhr = new XMLHttpRequest();
            xhr.open("GET", `http://localhost:8080/order/remove/${id}`);
            xhr.send();
            xhr.onload = () => {
              if (xhr.status == 200) {
                this.parentNode.parentNode.remove();
                console.log("성공!!");
              } else {
                console.log("실패ㅠㅠ");
              }
            };
          });}
        </script>
            </div>
        </main>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
