<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:fragment="order-list" class="bs-example" data-example-id="simple-table">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>날 짜</th>
            <th>회사명</th>
            <th>제 품</th>
            <th>수 량</th>
            <th>가 격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <th scope="row" th:text="${order.id}"></th>
            <td th:text="${order.date}"></td>
            <td th:text="${order.company.getName()}"></td>
            <td th:text="${order.product.getName()}"></td>
            <td th:text="${order.quantity}"></td>
            <td th:text="${order.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
