<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
  <div class="row">
    <div th:replace="fragments/navbar :: navbar"></div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
              th:fragment="company-list"
              class="bs-example"
              data-example-id="simple-table"
      >
        <table class="table" id="company-table">
          <thead>
          <tr>
            <th>#</th>
            <th>회사명</th>
            <th>사업자 번호</th>
            <th>전화번호</th>
            <th>E-mail</th>
            <th style="width: 3%"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="company : ${companyList}">
            <th scope="row" th:text="${company.id}"></th>
            <td th:text="${company.name}"></td>
            <td th:text="${company.businessNumber}"></td>
            <td th:text="${company.telNumber}"></td>
            <td th:text="${company.email}"></td>
            <td class="text-end">
              <a th:id="${company.id}" href="" class="remove-btn link-secondary">
                <span data-feather="x"></span>
              </a>
            </td>
          </tr>
          </tr>
          </tbody>
        </table>
        <script>
        const removeBtns = document.querySelectorAll(".remove-btn");
        for (removeBtn of removeBtns) {
          removeBtn.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.id;
            var xhr = new XMLHttpRequest();
            xhr.open("get", `/company/remove/${id}`, true);
            xhr.send();
            xhr.onload = () => {
              if (xhr.status == 200) {
                this.parentNode.parentNode.remove();
                console.log("통신 성공");
              } else {
                console.log("통신 실패");
              }
            };
          });
        }
      </script>

      </div>
    </main>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
