<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
  <div class="row">
    <div th:replace="fragments/navbar :: navbar"></div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <form
              class="row mb-5 mt-3 align-items-start needs-validation"
              method="post"
              th:object="${companyForm}"
              novalidate>
        <div class="col-2">
          <div class="form-floating">
            <input
                    type="text"
                    class="form-control"
                    id="InputCompanyName"
                    placeholder="회사명을 입력하세요."
                    th:field="*{companyName}"
                    required
            />
            <label for="InputCompanyName">회사명</label>
            <div class="invalid-feedback">
              회사명을 입력하세요.
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-floating">
            <input
                    type="text"
                    class="form-control"
                    id="InputBusinessNumber"
                    placeholder="000-000-000000"
                    th:field="*{businessNumber}"
                    required
            />
            <label for="InputBusinessNumber">사업자번호</label>
            <div class="invalid-feedback">
              사업자번호를 입력하세요.
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-floating">
            <input
                    type="text"
                    class="form-control"
                    id="InputTelNumber"
                    placeholder="010-0000-0000"
                    th:field="*{telNumber}"
            />
            <label for="InputTelNumber">전화번호</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-floating">
            <input
                    type="email"
                    class="form-control"
                    id="InputEmail"
                    placeholder="exam123@example.com"
                    th:field="*{email}"
            />
            <label for="InputEmail">Email</label>
          </div>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-lg btn-outline-primary">
            업체 등록
          </button>
        </div>
      </form>

      <div th:replace="company/list :: company-list"></div>
    </main>
  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
