<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<div class="wrapper">
    <!-- nav bar -->
    <nav th:replace="fragments/navbar :: navbar"/>
    <main>
        <!-- header -->
        <header></header>

        <!-- contents -->
        <div class="main__title"><h4>제 품</h4></div>
        <article class="form__card-body">
            <section class="form-wrapper">
                <form action="#" class="add_form" method="post" th:action="@{/products}"
                      th:object="${productForm}">
                    <label class="label-text">제품명 : </label>
                    <input placeholder="제품명을 입력하세요" th:field="*{name}" type="text"/>
                    <label class="label-text">가 격 : </label>
                    <input placeholder="가격을 입력하세요" th:field="*{price}" type="text"/>
                    <button type="submit">제품 추가</button>
                </form>
            </section>
            <section class="table-wrapper">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 20%" scope="col">제품명</th>
                        <th style="width: 20%" scope="col">가 격</th>
                        <th style="width: 10%" scope="col">수정/삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${productList}" th:id="${product.id}">
                        <td th:text="${product.name}">제품명</td>
                        <td th:text="${product.getPrice}">가 격</td>
                        <td>
                            <button onclick="updateRow(this)"><i class="far fa-edit"></i>
                            </button>
                            <button onclick="deleteRow(this)"><i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </article>
        <!-- footer -->
        <footer></footer>

    </main>
</div>
<script>
    function updateRow(btn) {
        const tr = btn.parentNode.parentNode;
        const form = document.querySelector(".add_form");
        tr.classList.add("editing");
        btn.outerHTML = `<button onclick="updateOKRow(this)"><i style="color: var(--point-color-red)" class="far fa-check-square"></i></button>`;

        for (let i = 0; i < tr.children.length - 1; i++) {
            const input = document.createElement("input");
            input.placeholder = form.children[i].placeholder;
            input.value = tr.children[i].innerText;
            tr.children[i].innerText = "";
            tr.children[i].appendChild(input);
        }
    }

    async function updateOKRow(btn) {
        const tr = btn.parentNode.parentNode;
        const id = tr.id;
        let inputValue = [];
        for (let i = 0; i < tr.children.length - 1; i++) {
            inputValue[i] = tr.children[i].children[0].value;
        }
        const json = {
            "name": inputValue[0],
            "price": inputValue[1],
        };
        const res = await fetch(`/product/${id}`, {
            method: 'put',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify(json)
        })
        if (res.ok) {
            tr.classList.remove("editing");
            btn.outerHTML = `<button onclick="updateRow(this)"><i class="far fa-edit"></i></button>`;
            for (let i = 0; i < tr.children.length - 1; i++) {
                tr.children[i].innerHTML = inputValue[i];
            }
        }
    }

    async function deleteRow(btn) {
        const tr = btn.parentNode.parentNode;
        const id = tr.id;
        const res = await fetch(`/product/${id}`, {method: "delete"})
        if(res.ok) tr.remove();
    }
</script>
</body>
</html>