article {
  display: flex;
}

article section.dashboard__column__card {
  display: flex;
  flex-direction: column;
  height: 360px;
  flex: 1 1 0;
}

article section.dashboard__column__chart {
  height: 360px;
  flex: 1 1 0;
}

.card__frame {
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background-color: white;
  padding: 1.5rem;
  margin: 12px;
  border-radius: 0.3rem;
}

.card__body h5 {
  margin: 0px;
  opacity: 0.5;
}

.card__body h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 700;
}

.card__body .text-nowrap {
  white-space: nowrap;
}
.card__body p {
  margin-top: 0;
  margin-bottom: 0;
}

.percent_plus {
  color: var(--point-color-green);
}

.percent_minus {
  color: var(--point-color-red);
}

.card__chart {
  height: 360px;
}

#monthlyRevenueChart {
  position: relative;
}
