.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 25px;
  color: white;
  height: 70px;
  margin-bottom: 50px;
}

.logo i {
  margin-right: 12px;
  color: var(--point-color);
}

.navbar {
  width: var(--nav-width);
  position: fixed;
  height: 100%;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--nav-text-color);
}

.navbar i {
  margin-right: 20px;
}

.navbar li {
  padding: 8px 30px;
}

.navbar li:hover {
  color: white;
}
