<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<div class="wrapper">
    <!-- nav bar -->
    <nav th:replace="fragments/navbar :: navbar"/>

    <main>
        <!-- header -->
        <header></header>

        <!-- contents -->
        <div class="main__title"><h4>Dashboard</h4></div>
        <article>
            <section class="dashboard__column__card">
                <!-- 1단 -->
                <div class="card__frame">
                    <div class="card__body">
                        <h5>이번달 매출</h5>
                        <h3 id="thisMonthRevenue" th:text="${thisMonthRevenue.content}">0원</h3>
                        <p>
                            <span class="text-nowrap">지난달 매출 보다</span>
                            <span class="percent_plus" id="thisMonthPercent"
                                  th:class="${thisMonthRevenue.percent} > 0 ? 'percent_plus' : 'percent_minus'"
                                  th:text="${thisMonthRevenue.percent}+'%'">
                            </span>
                            <span class="text-nowrap"
                                  th:text="${thisMonthRevenue.percent} > 0 ? '증가했습니다' : '감소했습니다'"></span>
                        </p>
                    </div>
                    <div class="card__body">
                        <h5>이번주 매출</h5>
                        <h3 id="thisWeekRevenue" th:text="${thisWeekRevenue.content}">0원</h3>
                        <p>
                            <span class="text-nowrap">지난주 매출 보다</span>
                            <span class="percent_plus"
                                  id="thisWeekPercent"
                                  th:class="${thisWeekRevenue.percent} > 0 ? 'percent_plus' : 'percent_minus'"
                                  th:text="${thisWeekRevenue.percent}+'%'"></span>
                            <span class="text-nowrap"
                                  th:text="${thisWeekRevenue.percent} > 0 ? '증가했습니다' : '감소했습니다'"></span>
                        </p>
                    </div>
                </div>

                <!-- 2단 -->
                <div class="card__frame">
                    <div class="card__body">
                        <h5>최고 판매 제품</h5>
                        <h3 id="bestProduct" th:text="${bestProduct.content}"></h3>
                        <p>
                            <span class="text-nowrap">전체 매출 중</span>
                            <span class="percent_plus" id="bestProductPercent"
                                  th:text="${bestProduct.percent}+'%'"></span>
                            <span class="text-nowrap">입니다.</span>
                        </p>
                    </div>
                    <div class="card__body">
                        <h5>최고 매출 업체</h5>
                        <h3 id="bestCompany" th:text="${bestCompany.content}"></h3>
                        <p>
                            <span class="text-nowrap">전체 매출 중</span>
                            <span class="percent_plus" id="bestCompanyPercent"
                                  th:text="${bestCompany.percent}+'%'"></span>
                            <span class="text-nowrap">입니다.</span>
                        </p>
                    </div>
                </div>
            </section>

            <section class="dashboard__column__chart">
                    <canvas id="monthlyRevenueChart"></canvas>
            </section>
        </article>
        <article>
            <section class="dashboard__column__doughnut_chart">
                <canvas id="salesPercentChart"></canvas>
            </section>
        </article>
        <!-- footer -->
        <footer></footer>
    </main>
</div>

<script crossorigin="anonymous"
        integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script src="js/main.js"></script>
<script src="js/chart.js"></script>
</body>
</html>
